{% extends "admin/base-standard-curricula.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-10 text-left">
            <h1>List of all existing standard curricula</h1>        
        </div>

        <div class="col-md-2 text-left">

            <a id="verticalButton" class="btn btn-success pull-right button-with-h1" href="{{url_for('new_standard_curriculum')}}" role="button">
                 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  New standard curriculum</a>
        </div>
    </div>

    <div class="row">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>grade</th>
                        <th># courses</th>
                        <th># topics</th>
                        <th># schools</th>
                        <th># teachers</th>
                        <th># classes</th>
                        <th># students</th>
                    </tr>
                </thead>
                <tbody class='table-hover'>
                {% if standardcurricula %}

                    {% for standardcurriculum in standardcurricula %}
                        <tr>
                            <td>
                                {{standardcurriculum.name}} <br>
                                <a class="nodecoration" href="{{ url_for('view_standard_curriculum', standardcurriculum_id = standardcurriculum.id) }}">
                                    <span class="glyphicon glyphicon-eye-open" id="view-course" aria-hidden="true"></span> 
                                </a>
                                
                                <a class="nodecoration" href="{{ url_for('edit_standard_curriculum', standardcurriculum_id = standardcurriculum.id) }}">
                                    <span class="glyphicon glyphicon-pencil" id="edit-course" aria-hidden="true"></span> 
                                </a>

                                <a class="nodecoration" href="{{ url_for('delete_standard_curriculum', standardcurriculum_id = standardcurriculum.id) }}" onclick="return confirmAction()">
                                    <span class="glyphicon glyphicon-trash" id="remove-course" aria-hidden="true"></span> 
                                </a>
                            </td>
                            <td>{{standardcurriculum.grade}}</td>

                            <td>{{standardcurriculum.courses|length}}</td>

                            <td>tbd</td>
                            <td>tbd</td>
                            <td>tbd</td>
                            <td>tbd</td>
                            <td>tbd</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    
                    <tr>
                        <td colspan="8">No standard curricula</td>
                    </tr>

                {% endif %}
                
                </tbody>
            </table>
        </div>

            
    </div>


{% endblock %}