{% extends "admin/base-schools.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-left">
            <h1>Edit curriculum: {{curriculum.standardcurriculum.name}}  </h1>
        </div>    
    </div>
    <!-- /row -->

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <!-- /row -->



<form class="form-horizontal" action="{{ url_for('edit_curriculum', curriculum_id = curriculum.id) }}" method="POST" id="edit-curriculum"> 

    <div class="row">
        <div class="col-xs-5">
            <div class="row"> <!-- /curriculum selection row -->

                    <div class="col-xs-12">
                        <h4>This curriculum is a customized version of the following curriculum:</h4>
                        <p>
                            <strong>Name:</strong> {{curriculum.standardcurriculum.name}} <br> <br>
                            <strong>Grade:</strong> {{curriculum.standardcurriculum.grade}}
                        </p>
                    </div>
                    
            </div>  <!-- /curriculum selection row -->
        </div>

        <div class="col-xs-7">
            <h4>Choose courses which will be included to this curriculum</h4>
            <div class="alert alert-danger" id="no-checkbox" style="display: none;">
                <strong>Warning!</strong> At least one course must be selected.
            </div>

            {% if courses %}
                {% for course in courses %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox available-courses">
                              <label>
                                <input type="checkbox" class="courses" name="course" value="{{course.id}}" {%if course in current_courses %}checked{%endif%}>
                                    <strong>{{course.name}}</strong> {% if course.description|length > 0 %}|   Description: {{course.description|truncate(50)}}{% endif %}
                              </label>
                            </div>
                        </div>

                        <!-- <div class="col-xs-7">

                        </div> -->
                    </div>
                {% endfor %}
            {% else %}
                no courses available
            {% endif %}

        </div>
    </div>

<br>
<input type="submit" class="btn btn-primary pull-right" id="submit-new-standard-curricula" value="Continue to course customization">
</form>

{% endblock %}