{% extends "admin/base-courses.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-left">
            <h1>Create a new course</h1>
        </div>    
    </div>
    <!-- /row -->

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <!-- /row -->



<form class="form-horizontal" action="{{url_for('new_course')}}" method="POST" id="new-course" onsubmit="return checkOrder();"> 

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-7">
                    <div class="input-group">
                        <span class="input-group-addon control-label required">Name:</span>
                        <input type="text" class="form-control required" placeholder="Please enter the course name" name="course[course_name]" required>
                    </div>
                </div>

                <div class="col-xs-5">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label class="control-label col-xs-1">Grade:</label>
                        </div>
                        <div class="col-xs-10">
                            <select class="form-control" name="course[course_grade]">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="high-school">high-school</option>
                                <option value="vocational">vocational</option>
                                <option value="bachelor">bachelor</option>
                                <option value="master">master</option>
                                <option value="doctoral">doctoral</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
            </div> <!-- /row -->
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="form-group">
                        <label class="control-label col-xs-1" for="course_description">Description:</label>
                        <textarea rows="2" class="form-control required" name="course[course_description]" placeholder="Please write a bried description of the course here">{{course_description}}</textarea>
                        
                    </div>    
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->

    <hr>
    
    
    
    <a class="topic btn btn-success pull-left" role="button" id="topic">Add a topic</a>
<br><br>
<div class="row">   
    <div class="col-xs-12 alert alert-danger" id="order-error" style="display: none;">
        <strong>Warning!</strong> There has been a problem with ordering your course. Please review highlighted fields.
        <br>
    </div>
</div>
<br>
<input type="submit" class="btn btn-primary pull-left" id="submit-new-course" >
</form>


<script type="text/javascript">
$('textarea').each(function(){
    $(this).val($(this).val().trim());
    console.log($(this).val())
});

addTopic($('#topic:last'));

</script>
{% endblock %}