{% extends "admin/base-courses.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-left">
            <h1>Edit course</h1>
        </div>    
    </div>
    <!-- /row -->

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <!-- /row -->



<form class="form-horizontal" action="{{url_for('new_course')}}" method="POST" id="new-course"> 

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-7">
                    <div class="input-group">
                        <span class="input-group-addon control-label required">Name:</span>
                        <input type="text" class="form-control required" value="{{course.name}}" name="course[course_name]" required>
                    </div>
                </div>

                <div class="col-xs-5">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <label class="control-label col-xs-1">Grade:</label>
                        </div>
                        <div class="col-xs-10">
                            <select class="form-control" name="course[course_grade]">
                                <option value="primary" {% if course.grade=="primary"%} selected="selected"{% endif %}>primary</option>
                                <option value="secondary" {% if course.grade=="secondary"%} selected="selected"{% endif %}>secondary</option>
                                <option value="high-school" {% if course.grade=="high-school"%} selected="selected"{% endif %}>high-school</option>
                                <option value="vocational" {% if course.grade=="vocational"%} selected="selected"{% endif %}>vocational</option>
                                <option value="bachelor" {% if course.grade=="bachelor"%} selected="selected"{% endif %}>bachelor</option>
                                <option value="master" {% if course.grade=="master"%} selected="selected"{% endif %}>master</option>
                                <option value="doctoral" {% if course.grade=="doctoral"%} selected="selected"{% endif %}>doctoral</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
            </div> <!-- /row -->
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="form-group">
                        <label class="control-label col-xs-1" for="course_description">Description:</label>
                        <textarea rows="2" class="form-control required" name="course[course_description]" placeholder="Please write a bried description of the course here">{{course.description}}</textarea>
                        
                    </div>    
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->

    <hr>

    {% for topic in course.topics %}
    <div class="row topic-row" id="1"> <!-- topic row -->

        <div class="col-xs-4"> <!-- topic panel -->
            <div class="row"> <!-- topic name row -->
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-remove" id="remove-topic" aria-hidden="true"></span>
                </div>
                <div class="col-xs-11">
                    <div class="input-group">
                        <span class="input-group-addon control-label required">Topic name:</span>
                        <input type="text" class="form-control required" value="{{topic.name}}" placeholder="Please enter the topic name" name="course[topic_{{topic.id}}][topic_name]" required>
                    </div>   
                </div>
            </div> <!-- /row topic name row -->
            <br>
            <div class="row"> <!-- topic order row -->
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="input-group">
                        <span class="input-group-addon control-label">Order:</span>
                        <input type="number" class="form-control required" value="{{topic.topic_order}}" placeholder="Topic order" name="course[topic_{{topic.id}}][topic_order]" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row"> <!-- topic description row -->
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="form-group">
                        <label class="control-label" for="topic_description">Topic description:</label>
                        <textarea rows="4" class="form-control required" name="course[topic_{{topic.id}}][topic_description]" placeholder="Please write a bried description of the topic here">{{topic.description}}</textarea>
                    </div> 
                </div>
            </div>

        </div> <!-- /topic panel -->


        <div class="col-xs-8" id="subtopic-panel"> <!-- subtopic panel -->
            <div class="col-xs-1">
            </div>

            <div class="col-xs-11"> <!-- effective subtopic panel -->

                {% for subtopic in topic.subtopics %}
                <div class="row"> <!-- subtopic row -->
                    <div class="col-xs-12">
                        <div class="row"> <!-- subtopic name + grade row -->
                            <div class="col-xs-12"> <!-- subtopic name + grade column -->
                                <div class="col-xs-8">
                                    <div class="input-group">
                                        <span class="input-group-addon control-label">Subtopic name:</span>
                                        <input type="text" class="form-control required" value="{{subtopic.name}}" placeholder="Please enter the subtopic name" name="course[topic_{{topic.id}}][subtopic_{{subtopic.id}}][subtopic_name]" required>
                                    </div> 
                                </div>

                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <span class="input-group-addon control-label">Order:</span>
                                        <input type="number" class="form-control required" value="{{subtopic.subtopic_order}}" placeholder="Subtopic order" name="course[topic_{{topic.id}}][subtopic_{{subtopic.id}}][subtopic_order]" required>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-remove" id="remove-subtopic" aria-hidden="true"></span>
                                </div>


                            </div> <!-- /subtopic name + grade column -->
                        </div><!-- /subtopic name + grade row -->
                        <br>

                        <div class="row"> <!-- subtopic year + # hours row -->
                            <div class="col-xs-12"> <!-- subtopic year + # hours column -->
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon control-label">Year:</span>
                                        <input type="number" class="form-control required" placeholder="Year/grade when it will be taught" name="course[topic_1][subtopic_1][subtopic_year]">
                                    </div> 
                                </div>

                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <span class="input-group-addon control-label"># hours:</span>
                                        <input type="number" step="0.01" class="form-control required" placeholder="Hours spent on it" name="course[topic_1][subtopic_1][subtopic_hours]">
                                    </div>
                                    
                                </div>
                                <div class="col-xs-1">
                                </div>


                            </div> <!-- /subtopic year + # hours column -->
                        </div><!-- /subtopic year + # hours row -->
                        <br>

                        <div class="row"> <!-- subtopic description row -->
                            <div class="col-xs-12"> <!-- subtopic descripton column -->
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label class="control-label" for="subtopic_description">Subtopic description:</label>
                                        <textarea rows="3" class="form-control required" name="course[topic_{{topic.id}}][subtopic_{{subtopic.id}}][subtopic_description]" placeholder="Please write a bried description of the subtopic here"> {{subtopic.description}}
                                        </textarea>
                                    </div> 
                                </div> 
                            </div> <!-- /subtopic name + grade column -->
                        </div><!-- /subtopic name + grade row -->

                    </div>
                </div> <!-- /subtopic row -->
                <hr>

                {% endfor %}

                <button class="btn btn-success pull-right subtopic" id="subtopic">Add a subtopic</button>



            </div><!-- /effective subtopic panel -->

        </div> <!-- /subtopic panel -->

    </div> <!-- /topic row -->
    <hr>
    {% endfor %}

    
    <a class="topic btn btn-success pull-left" role="button" id="topic">Add a topic</a>
<br><br>
<input type="submit" class="btn btn-primary pull-left" id="submit-new-course">
</form>

<h2>JSON</h2>
<pre id="result">
</pre>

{% endblock %}