{% extends "admin/base-schools.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-left">
            <h1>{{curriculum.standardcurriculum.name}} in detail</h1>
        </div>    
    </div>
    

    





<div class="row">
        <div class="col-xs-12">
            <div class="row"> <!-- tab panel -->
                <div class="col-xs-12"> <!-- tab col -->
                    <div class="course-tabs"> <!-- tab container -->
                        <ul class="nav nav-tabs">
                            {% for row in distinct_course_customized_subtopics %}
                                {% if loop.index == 1 %}
                                    <li class="active"><a data-toggle="tab" href="#{{row.course.id}}">{{row.course.name}}</a></li>
                                {% else %}
                                    <li><a data-toggle="tab" href="#{{row.course.id}}">{{row.course.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for row in distinct_course_customized_subtopics %}
                                {% if loop.index == 1 %}
                                <div id="{{row.course.id}}" class="tab-pane fade in active">
                                {% else %}
                                <div id="{{row.course.id}}" class="tab-pane fade"><!-- tab content container -->
                                {% endif %}<!-- end if first course -->
                                    <div class="row"><!-- course description row -->
                                        <div class="col-xs-12">
                                            <br><p><strong>Course description:</strong> {{row.course.description}}</p><br>
                                        </div>
                                    </div>

                                    <div class="row"> <!-- all topics row -->
                                        <div class="col-xs-12"><!-- all copics container -->
                                            
                                            {% set previous = None %}
                                            {% set topic_counter = 0 %}
                                            {% for subtopic in customizedsubtopics %}
                                                {% if subtopic.course.id == row.course.id %}
                                                    {% if topic_counter == 0 %}
                                                        <div class="row topic-row" id="{{subtopic.topic.id}}"> <!-- topic row -->
                                                            <div class="col-xs-4"> <!-- topic panel -->
                                                                <div class="row"> <!-- topic name row -->

                                                                    <div class="col-xs-12">
                                                                        <strong>Topic name:</strong> {{subtopic.topic.name}} <br>
                                                                        <strong>Topic description:</strong> {{subtopic.topic.description}}<br>
                                                                        <strong>Topic order:</strong> {{subtopic.topic_order}}<br>
                                                                    </div>
                                                                </div> <!-- /row topic name row -->
                                                                <br>
                                                            </div> <!-- /topic panel -->


                                                            <div class="col-xs-8" id="subtopic-panel"> <!-- subtopic panel -->
                                                                <div class="col-xs-1">
                                                                </div>

                                                                <div class="col-xs-11"> <!-- effective subtopic panel -->
                                                        {% set topic_counter = 1 %}
                                                    {% elif subtopic.topic.id != previous.topic.id %}
                                                            
                                                                </div><!-- /effective subtopic panel -->
                                                            </div> <!-- /subtopic panel -->     
                                                        </div> <!-- /topic row -->
                                                        <hr>
                                                        <div class="row topic-row" id="{{subtopic.topic.id}}"> <!-- topic row -->
                                                            <div class="col-xs-4"> <!-- topic panel -->
                                                                <div class="row"> <!-- topic name row -->

                                                                    <div class="col-xs-12">
                                                                        <strong>Topic name:</strong> {{subtopic.topic.name}} <br>
                                                                        <strong>Topic description:</strong> {{subtopic.topic.description}}<br>
                                                                        <strong>Topic order:</strong> {{subtopic.topic_order}}<br>
                                                                    </div>
                                                                </div> <!-- /row topic name row -->
                                                                <br>
                                                            </div> <!-- /topic panel -->


                                                            <div class="col-xs-8" id="subtopic-panel"> <!-- subtopic panel -->
                                                                <div class="col-xs-1">
                                                                </div>

                                                                <div class="col-xs-11"> <!-- effective subtopic panel -->
                                                    {% endif %}
                                                                    <div class="row"> <!-- /subtopic name + order + year + description row -->
                                                                        <div class="col-xs-12"> <!-- /subtopic name + order + year + description box -->
                                                                            <strong>Subtopic name:</strong> {{subtopic.subtopic.name}}<br>
                                                                            <div class="row">
                                                                                <div class="col-xs-4">
                                                                                    <strong>Subtopic year:</strong> {{subtopic.subtopic_year}}<br>
                                                                                </div>
                                                                                <div class="col-xs-8">
                                                                                    <strong>Subtopic order:</strong> {{subtopic.subtopic_order}}<br>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12">
                                                                                    <strong>Subtopic description:</strong> {{subtopic.subtopic.description}}
                                                                                </div>
                                                                            </div>
                                                                        </div> <!-- /subtopic name + order + year + description box -->
                                                                    </div><!-- /subtopic name + order + year + description row -->
                                                                    <br>
                                                    {% set previous = subtopic %}
                                                {% endif %}
                                                
                                            {% endfor %}
                                                    </div><!-- /effective subtopic panel -->
                                                </div> <!-- /subtopic panel -->     
                                            </div> <!-- /topic row -->
                                        </div><!-- all topics container -->
                                    </div><!-- all topics row -->
                                </div> <!-- tab content container -->
                            {% endfor %}<!-- for course in disctinct courses -->
                        </div>
                    </div><!-- tab container -->
                </div><!-- tab col -->
            </div><!-- tab panel -->
        </div>
    </div>


{% endblock %}