{% extends "out-base.html" %}

{% block content %}
<div class="container-full">
    <div class="row">

        <div class="col-md-1 text-center v-center">
        </div>

        <div class="col-md-5 text-center v-center">
            <h1>Welcome to seedu</h1>
            <p class="lead">Register to help improve education</p>
            <br>
            <br>
            <br>
            <form class="col-md-5 col-md-offset-2 text-center" action="{{url_for('register')}}" method="POST">
                <div class="input text-center" style="width:340px;text-align:center;margin:0 auto;">
                    <input class="form-control input-md center-block" title="Please enter your email address here. It will serve as your username." placeholder="Enter your email address" type="email" name="email" value="{{email}}">
                    
                    {% if error_email %}
                        <span class="text-warning">{{error_email}}</span>
                    {% else %}
                        <br>
                    {% endif %}

                    <input class="form-control input-md" title="Please enter your given name here." placeholder="Please enter your given name here." type="text" name="given_name" value="{{given_name}}">
                    
                    {% if error_given_name %}
                        <span class="text-warning">{{error_given_name}}</span>
                    {% else %}
                        <br>
                    {% endif %}

                    <input class="form-control input-md" title="Please enter your given name here." placeholder="Please enter your family name here." type="text" name="family_name" value="{{family_name}}">

                    {% if error_family_name %}
                        <span class="text-warning">{{error_family_name}}</span>
                    {% else %}
                        <br>
                    {% endif %}

                    <input class="form-control input-md" title="Please enter your password here." placeholder="Please enter your password here." type="password" name="password">

                    {% if error_password %}
                        <span class="text-warning">{{error_password}}</span>
                    {% else %}
                        <br>
                    {% endif %}

                    <input class="form-control input-md" title="Please verify your password here." placeholder="Please verify your password here." type="password" name="verify">

                    {% if error_verify %}
                        <span class="text-warning">{{error_verify}}</span>                
                    {% endif %}
                    <br>

                    <span class="input-btn pull-left"><button class="btn btn-md btn-primary" type="submit">Register</button></span>
                </div>
            </form>
        </div>

        <div class="col-md-5 text-center v-center">
            <h1>Welcome back</h1>
            <p class="lead">Login and let your passion to take over</p>
            <br>
            <br>
            <br>
            <form class="col-md-5 col-md-offset-2 text-center" action="{{url_for('index')}}" method="POST">
                <div class="input text-center" style="width:340px;text-align:center;margin:0 auto;">
                    <input class="form-control input-md center-block" title="Please enter your email address here. It will serve as your username." placeholder="Enter your email address" type="email" name="email" value="{{login_email}}">
                    <br>
                    <input class="form-control input-md" title="Please enter your password here." placeholder="Please enter your password here." type="password" name="password">
                    
                    <br>
                    <span class="input-btn pull-right"><button class="btn btn-md btn-primary" type="submit">Login</button></span>
                </div>
                <br>
                <div class="text-warning">{{login_error}}</div>
            </form>
        </div>


        <div class="col-md-1 text-center v-center">
        </div>
      

    </div>
    <!-- /row -->

    
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- /container full -->

<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Hello.</h3>
                </div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Hello.</h3>
                </div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Hello.</h3>
                </div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <br>
            <br>
            <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2014 ACME<sup>TM</sup> Brand.</p>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}